APP_DEBUG=true
APP_ENV=local
APP_FAKER_LOCALE=en_US
APP_FALLBACK_LOCALE=en
APP_KEY=
APP_LOCALE=en
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
APP_NAME=ByteLyon
APP_WHITELIST_IP=127.0.0.1
APP_WHITELIST_KEYS=my-random-32-character-x-api-key
APP_TIMEZONE=UTC
APP_URL=http://localhost

AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=
AWS_USE_PATH_STYLE_ENDPOINT=false

BCRYPT_ROUNDS=12

BROADCAST_CONNECTION=log

CACHE_STORE=redis
CACHE_DRIVER=redis
CACHE_STORAGE_DISK=
CACHE_STORAGE_PATH=

DB_CACHE_CONNECTION=
DB_CACHE_TABLE=
DB_CACHE_LOCK_CONNECTION=
DB_CACHE_LOCK_TABLE=
DB_CONNECTION=pgsql
DB_DATABASE=testing
DB_HOST=pgsql
DB_PASSWORD=secret
DB_PORT=5432
DB_QUEUE_CONNECTION="${DB_CONNECTION}"
DB_USERNAME=root

DYNAMODB_ENDPOINT=
DYNAMODB_CACHE_TABLE=

FILESYSTEM_DISK=local

HORIZON_EMAILS=
HORIZON_NOTIFY=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=redis
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@bytelyon.com"
MAIL_FROM_NAME="${APP_NAME}"

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PERSISTENT_ID=
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
MEMCACHED_PORT=

QUEUE_CONNECTION=redis

REDIS_CACHE_CONNECTION=
REDIS_CACHE_LOCK_CONNECTION=
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=

SESSION_DOMAIN=null
SESSION_DRIVER=database
SESSION_ENCRYPT=false
SESSION_LIFETIME=120
SESSION_PATH=/

VITE_APP_NAME="${APP_NAME}"
