includes:
    - vendor/larastan/larastan/extension.neon
    - vendor/nesbot/carbon/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/app.php
        - database/
        - routes/

    level: 7
    ignoreErrors:
        -
            message: "#^Called 'env' outside of the config directory which returns null when the config is cached, use 'config'.$#"
            path: *config/*.php
