APP_ADMIN=kowalski7012@gmail.com
APP_DEBUG=false
APP_ENV=local
APP_FAKER_LOCALE=en_US
APP_FALLBACK_LOCALE=en
APP_KEY=
APP_LOCALE=en
APP_MAINTENANCE_DRIVER=file
APP_MAINTENANCE_STORE=database
APP_NAME=ByteLyon
APP_TIMEZONE=UTC
APP_URL=http://localhost

AWS_ACCESS_KEY_ID=
AWS_BUCKET=
AWS_DEFAULT_REGION=us-east-1
AWS_SECRET_ACCESS_KEY=
AWS_USE_PATH_STYLE_ENDPOINT=false

BCRYPT_ROUNDS=12

BROADCAST_CONNECTION=reverb

CACHE_STORE=redis
CACHE_DRIVER=redis
CACHE_STORAGE_DISK=
CACHE_STORAGE_PATH=

DB_CACHE_CONNECTION=
DB_CACHE_TABLE=
DB_CACHE_LOCK_CONNECTION=
DB_CACHE_LOCK_TABLE=
DB_CONNECTION=pgsql
DB_DATABASE=testing
DB_HOST=pgsql
DB_PASSWORD=secret
DB_PORT=5432
DB_QUEUE_CONNECTION="${DB_CONNECTION}"
DB_USERNAME=root

DYNAMODB_ENDPOINT=
DYNAMODB_CACHE_TABLE=

FILESYSTEM_DISK=local

HORIZON_DOMAIN=
HORIZON_NAME=
HORIZON_PATH=horizon
HORIZON_PREFIX=

LOG_CHANNEL=stack
LOG_STACK=single
LOG_DEPRECATIONS_CHANNEL=null
LOG_LEVEL=debug

MAIL_MAILER=log
MAIL_SCHEME=null
MAIL_HOST=redis
MAIL_PORT=2525
MAIL_USERNAME=null
MAIL_PASSWORD=null
MAIL_FROM_ADDRESS="hello@bytelyon.com"
MAIL_FROM_NAME="${APP_NAME}"

MEMCACHED_HOST=127.0.0.1
MEMCACHED_PERSISTENT_ID=
MEMCACHED_USERNAME=
MEMCACHED_PASSWORD=
MEMCACHED_PORT=

QUEUE_CONNECTION=redis

REDIS_CACHE_CONNECTION=
REDIS_CACHE_LOCK_CONNECTION=
REDIS_CLIENT=phpredis
REDIS_HOST=redis
REDIS_PASSWORD=null
REDIS_PORT=6379
REDIS_PREFIX=

REVERB_APP_ID=
REVERB_APP_KEY=
REVERB_APP_SECRET=
REVERB_HOST="localhost"
REVERB_PORT=8080
REVERB_SCHEME=http

SESSION_DOMAIN=null
SESSION_DRIVER=database
SESSION_ENCRYPT=false
SESSION_LIFETIME=120
SESSION_PATH=/

TELESCOPE_ENABLED=true
TELESCOPE_DOMAIN=
TELESCOPE_PATH=telescope
TELESCOPE_DRIVER=database
TELESCOPE_QUEUE_CONNECTION=
TELESCOPE_QUEUE=
TELESCOPE_QUEUE_DELAY=10
TELESCOPE_BATCH_WATCHER=true
TELESCOPE_CACHE_WATCHER=true
TELESCOPE_CLIENT_REQUEST_WATCHER=true
TELESCOPE_COMMAND_WATCHER=true
TELESCOPE_DUMP_WATCHER=true
TELESCOPE_DUMP_WATCHER_ALWAYS=false
TELESCOPE_EVENT_WATCHER=true
TELESCOPE_EXCEPTION_WATCHER=true
TELESCOPE_GATE_WATCHER=true
TELESCOPE_JOB_WATCHER=true
TELESCOPE_LOG_WATCHER=true
TELESCOPE_LOG_WATCHER_LEVEL=error
TELESCOPE_MAIL_WATCHER=true
TELESCOPE_MODEL_WATCHER=true
TELESCOPE_NOTIFICATION_WATCHER=true
TELESCOPE_QUERY_WATCHER=true
TELESCOPE_REDIS_WATCHER=true
TELESCOPE_REQUEST_WATCHER=true
TELESCOPE_RESPONSE_SIZE_LIMIT=64
TELESCOPE_SCHEDULE_WATCHER=true
TELESCOPE_VIEW_WATCHER=true

VITE_APP_NAME="${APP_NAME}"
VITE_REVERB_APP_KEY="${REVERB_APP_KEY}"
VITE_REVERB_HOST="${REVERB_HOST}"
VITE_REVERB_PORT="${REVERB_PORT}"
VITE_REVERB_SCHEME="${REVERB_SCHEME}"
