.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.claude/
/.env.prod
/.env.testing
/.fleet
/.idea
/.junie/
/.nova
/.phpunit.cache
/.scripts/
/.vscode
/.zed
/_ide_helper.php
/auth.json
/bootstrap/cache/
/bootstrap/ssr
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/reports/
/resources/js/actions
/resources/js/routes
/resources/js/wayfinder
/storage/*.key
/storage/app/
/storage/framework/
/storage/pail
/testing
/vendor
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
